*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: rgb(243,231,233);
  background: linear-gradient(90deg, rgba(243,231,233,1) 17%, rgba(227,238,255,1) 100%);
  overflow-x: hidden;
}
.whole{
  display: flex;
  width: 100%;
  height: 100vh;
}
/*------------HEADER/NAV SECTION----------------*/
.header{
  border-bottom: solid white 1px;
  font-family: 'Work Sans', sans-serif;
  /*background: #282C34;*/
  /*background: #b6d3ff;*/
  background:white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width:100%;
  height: 60px;
  z-index: 2;
}
.nav ul{
  margin: auto 0;
  display: flex;
  
}
.nav ul li{
  list-style: none;
  margin: 0 16px;
  transition: 0.4s ease;
}
.nav ul li:hover{
  cursor: pointer;
  color: rgb(54, 73, 98);
}
.nav a{
  text-decoration: none;
  color: rgb(163, 163, 163);
}
/*---------------HERO SECTION--------------------*/
.hero{
  height: 100vh;
}
#development{
  width: 600px;
}
.hero-flex{
  margin-top:40px;
  display: flex;
  justify-content: center;
}
.intro{
  display:flex;
  flex-direction: column;
  align-self: center;
}
.hero h2{
  margin-top: 60px;
  font-family: 'Chango', cursive;
  font-size: 6em;
  text-align: center;
}
.intro h4{
  font-family: 'Bebas Neue', cursive;
}
.intro h1{
  font-family: 'Bebas Neue', cursive;
}

.hero h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  width:min-content;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  animation-fill-mode: forwards;
  animation: 
    typing 2.5s steps(13, end),
    blink-caret .75s step-end infinite;
}
/*------------ SOCIAL NETWORK BAR----------------*/
.socials{
  margin: 0 10px;
  position: fixed;
  bottom: 0;
  width: 40px;
}
.social-box{
  margin: 30px 0;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  width: 34px;
  height: 34px;
}
.icon{
  margin: 0;
  color: white;
  width: 36px;
  height: 36px;
  opacity: 0.7;
  transition: 0.4s;
}
.icon:hover{
  opacity: 1;
  transform: scale(1.1);
  cursor:pointer;
}
.icon-inner{
  display: flex;
  vertical-align: middle;
  justify-content: center;
}
.actual-icon:hover{
  cursor: pointer;
  color: white;
}
.line{
  margin: 20px 0 0 16px; 
  border-left: solid grey 2px;
  width: 10px;
  height: 80px;
}

.align{
  width: 100%;
  margin: 110px 40px 0 60px;
}
/*------------------TECHNOLOGIES --------------*/
.technologies{
  margin: 0 auto;
  padding-top: 170px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.technologies::before{
  content: '//TECHNOLOGIES';
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: 6rem;
  font-family: 'Orbitron', sans-serif;
}
.technologies::after{
  content:'';
  position: fixed;
  background: #00B6FF;
  clip-path: circle(40% at 70% 60%);
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.tech-box{
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  width: 400px;
  height: 150px;
  background: none;
  backdrop-filter: blur(5px);
}
Tilt {
  border: 15px;
  background: rgb(239,239,239);
  background: linear-gradient(90deg, rgba(239,239,239,0.6) 0%, rgba(239,239,239,0.1) 100%);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}
.real-tech{
  display: flex;
  justify-content: center;
  transform: translateZ(100px);
  z-index:11;
  transform-style: preserve-3d;
}
.tech-icon{
  margin: 0 10px;
  height: 50px;
  width: 50px;
}
.tech-box ion-icon{
  font-size: 10px;
}
#React:hover{
  background:#61DAFB;
}
#HTML:hover{
  background: #DD4B25;
}
#CSS:hover{
  background:#2194F0;
}
#Javascript:hover{
  background:#F1C026;
}
#WordPress:hover{
  background: #207196;
}
#PHP:hover{
  background: #858EB8;
}
#MySQL:hover{
  background: #005E86;
}
#Bootstrap:hover{
  background: #543A7B;
}
#JQuery:hover{
  background: #0865A7;
}
#MongoDB:hover{
  background: #5CA64E;
}
#Express:hover{
  background: #7E7E7E;
}
#NodeJS:hover{
  background: #83C041;
}
/*------------PROJECTS SECTION -------------*/
.projects::before{
  content: '//PROJECTS';
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: 6rem;
  font-family: 'Orbitron', sans-serif;
}
.container {
  display: grid;
}
#overlay0, #overlay1, #overlay2{
  padding: 0 auto;
  display:none;
  background:cadetblue;
  opacity: 0.9;
  transition: 0.3s ease;
}
.content, #overlay0, #overlay1, #overlay2 {
  grid-area: 1 / 1;
  position:relative;
}
.projects{
  position: relative;
  padding-top: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  margin: 0 20px;
  padding: 20px;
  background: #C7C7C7;
  height: 100%;
  position: relative;
  background: #e0e0e0;
  max-width: 800px;
  /*background: rgba(199, 199, 199);*/
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.proj-img{
  width: 300px;
  height: 300px;
}
#pointer0, #pointer1, #pointer2{
  top: 50%;
  left: 45%;
  position: absolute;
  width: 40px;
  height: 40px;
  color: white;
}
.flex{
  margin-top: 70px;
  top: 50%;
  display: flex;
  flex-direction: column;
}
.proj-btn{
  margin: 20px auto;
  position: relative;
  width: 80px;
  height: 40px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
.proj-btn::before, .proj-btn::after{
  border: 3px solid white;
  content: '';
  position: absolute;
  width: calc( 100% - 6px);
  height: calc( 100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;;
}
.proj-btn:hover::after{
  transform:translate( -5px, -5px);
}
.proj-btn:hover::before{
  transform:translate( 5px, 5px);
}
/*-------------------- CONTACT SECTION-------------*/
.space{
  height: 600px;
  display:flex;
  align-items: center;
}
.contact{
  padding: 2px;
  position: relative;
  background: #e0e0e0;
  border-radius: 5px;
  margin: 30px auto 70px auto;
  width: 80%;
  max-width: 800px;
  /*background: rgba(199, 199, 199);*/
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.contact h1{
  margin: 10px 0;
  color: #364962;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  font-size: 2em;
}

.contact input, .contact textarea{
  background: none;
  padding: 3px;
  margin-right: 40px;
  border:none;
  border-bottom: 2px #ffffff73 solid;
  width: 50%;
  transition: 0.6s ease;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.contact input:focus, .contact textarea:focus,
.contact input:valid, .contact textarea:valid{
  outline: none;
  border-bottom:cyan 2px solid;
}
.contact textarea:focus + #lineup2::after,
.contact textarea:valid + #lineup2::after{
  transform: translateX(50px);
}
.contact textarea{
  height: 120px;
  resize:none;
}
.horizontal{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

}
.contact div label{
  color: rgb(109, 109, 109);
  margin-left: 40px;
  vertical-align: text-top;
  padding: 0 14px;
}
.contact button{
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  margin: 10px auto;
  border: none;
  color: rgb(109, 109, 109);
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.contact button:hover{
  cursor: pointer;
  background: cornsilk;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}